/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;

  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body,
html {
  height: 100%;
  width: 100%;
}

head {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* nav */
.navigation-component {
  display: grid;
}

.nav {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-self:center; */
  /* padding: 2rem; */
  justify-self: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 780px) {
  /* .nav {
        justify-self: center
    } */

  /* .nav__item {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    } */
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}

a {
  color: rgb(0, 0, 0);
}

.wave {
  position: absolute;
  right: 0;
  top: 0;
  width: 200vw;
  height: auto; /* Ensure the height is auto */
  z-index: -1;
  max-height: 100vh; /* Limit the height to the view height */
  object-fit: cover; /* Ensures the image covers the area properly */
}

/* Adjustments for different screen sizes */
@media only screen and (min-width: 780px) {
  .wave {
    width: 125vw;
    max-height: 90vh; /* Adjust the max-height as needed */
  }
}

@media only screen and (min-width: 1200px) {
  .wave {
    top: -5vh;
    max-height: 85vh; /* Prevents excessive height stretching */
  }
}

@media only screen and (min-width: 1600px) {
  .wave {
    top: -10vh;
    max-height: 80vh; /* Further limits the height on large screens */
  }
}

@media only screen and (min-width: 2000px) {
  .wave {
    top: -20vh;
    max-height: 75vh; /* Keep the height within a reasonable range */
  }
}

.name {
  color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 2.25rem;
  margin: 30px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.name span {
  color: #545454;
  font-size: 2rem;
}

.card {
  display: grid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15);
  justify-content: center;
  justify-self: center;

  /* margin: .55rem; */
  max-width: 700px;
  padding: 3.45rem 1.5rem;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 780px) {
  .card {
    max-width: 90%;
  }
  #skills {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* .container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

    } */
}
h1,
h2,
h3 {
  font-family: "Lato", "Arial", sans-serif;
}

.card_title {
  color: #00b7ff;
  margin-bottom: 1rem;
  font-family: "Lato", "Arial", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

.card_text {
  color: #6c80a4;

  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
  font-family: "Open Sans", "Arial", sans-serif;
}

/* .skills {
        margin: 0 auto;
        width: 100%;

    } */

/* .skills {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    } */

.skills {
  justify-content: space-around;
  padding: 0;
}
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* .container{
    padding-left: 10px;
    padding-right: 10px;



} */

.header {
  padding-bottom: 2rem;
  padding-top: 3.45rem;
}

.header_title {
  line-height: 2rem;
  text-align: center;
}

.header_underline {
  border: 0;
  border-top: 3px solid #09f;
  height: 1px;
  margin-top: 4px;
  width: 35px;
}

.subheading {
  color: #19181c;

  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

/* @media only screen and (min-width: 992px){
.list{
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(7,1fr);
 }
} */
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul,
li,
h3 {
  padding: 0;
}

.list {
  display: flex;
  /* grid-row-gap: .15rem; */
  flex-wrap: wrap;
}

.list_languages {
  color: #6c80a4;
  flex-basis: 120px;
}

.list_languages:before {
  background-color: #ffea31;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: 0.375rem;
  width: 10px;
}

li {
  text-decoration: none;
  list-style: none;
}
.nav_item {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  color: #fff;
}
.nav_item:hover {
  text-decoration: underline;
}

.list_database {
  color: #6c80a4;
  flex-basis: 120px;
}

.list_database:before {
  background-color: #16d97e;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: 0.375rem;
  width: 10px;
}

.list_media {
  color: #6c80a4;
  flex-basis: 120px;
}

.list_media:before {
  background-color: #eb3ea8;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: 0.375rem;
  width: 10px;
}

.gradient {
  display: grid;
}

.gradient:first-of-type {
  background: linear-gradient(#296ad3, #00c6fb);
}

.gradient:nth-of-type(2) {
  background: linear-gradient(rgba(115, 121, 233, 0.7), #f1a3ef);
}

.gradient:nth-of-type(3) {
  background: linear-gradient(
    rgba(255, 165, 52, 0.9), 
    rgba(255, 224, 147, 0.8)
    );
}
.gradient:nth-of-type(4) {
  background: linear-gradient(
    rgba(241, 54, 79, 0.9),
    rgba(230, 98, 142, 0.746)
  );
}

.project {
  color: #fff;
  justify-self: center;
  max-width: 500px;
  padding: 3.45rem 1.875rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.project_img {
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(86, 18, 142, 0.1),
    0 3px 30px rgba(86, 18, 142, 0.2);
  margin-bottom: 1.122rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}
.project_description {
  font-family: "Open Sans", "Arial", sans-serif;
}
.project_img:hover {
  transform: scale(1.1);
}

.project_title {
  font-size: 1.4238rem;
  line-height: 1.875rem;
  margin-bottom: 0.375rem;
}

@media only screen and (min-width: 992px) {
  .project {
    align-items: center;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    margin: 70px;
    max-width: 1000px;
  }
  .footer {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
    width: 1000px;
    border-top: 1px solid hsla(0, 0%, 43.9%, 0.144);
    padding: 2.622rem;
    text-align: center;
  }

  .footer {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
    width: 1000px;
  }
  .footer_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  border-top: 1px solid hsla(0, 0%, 43.9%, 0.144);
  padding: 2.622rem;
  text-align: center;
}
.title {
  color: #19181c;

  font-size: 1.4238rem;
}
.link {
  color: #19181c;
}
.list_item {
  padding: 0.5rem;
}
.list_item::before {
  margin-right: 0.2rem;
  color: #00b9ff;
}
.list_item-email:before {
  content: "@";
}
.list_item-github:before {
  content: "\f09b";
  font-family: FontAwesome;
}
.list_item-linkedin:before {
  content: "\f08c";
  font-family: FontAwesome;
}
.list_item-styleguide:before {
  content: "\f00a";
  font-family: FontAwesome;
}
.link:hover {
  text-decoration: underline;
}
