
 *{
   box-sizing: border-box;
 }
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 22px;  
}
h3{
  font-size: 18px;
}
li{
    font-weight: bold;
}
#beer-delivery{
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 300px;
}
#brad{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
table {
   
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #2e2d2db7;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #Gloria{
    font-family: 'Ubuntu', sans-serif;

  }
  #OpenSans{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

  }
  #palette{
    height: auto; 
    width: auto; 
    max-width: 70%; 

  }
  #grid-system{
    height: auto; 
    width: auto; 
    max-width: 60%; 

  }
  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}
.card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}
.card-image{
  max-width: 200px;
  max-height: 200px;
}
.price {
  color: grey;
  font-size: 22px;
}
.category{
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #DA7635;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.8;
}
.container{
  max-width: 350px;
  height: auto;
  margin: 0px auto;
  background: #fff;
  padding: 20px 70px 20px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
}
.title-payment{
  color: #DA7635;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;

  font-weight: 900;
  margin-bottom: 20px;
}
.input-form{
  margin-bottom: 20px;
}
.input-form .label{
  display: block;
  font-size: 1em;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.input-form .items{
  margin-bottom: 20px;


}
.section-1 .items .input,
.section-2 .items .input,
.section-3 .items .input{
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;

    color: #212121;

}
.input-form .section-3{
  display: flex;
  justify-content: space-between;
}
.input-form .section-3 .items{
  width: 45%;
}
.btn{
	background: #DA7635;
  color: #fff;
  border: 2px solid #DA7635;
	
	padding: 10px 0;
  text-align: center;
  text-transform: capitalize;


  cursor: pointer;
  padding: 10px;

  letter-spacing: 2px;
  width: 100%;
  font-size: 18px;
}
.btn:hover{

    opacity: 0.8;

}
.nav{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  max-width: 500px;


}
li{
  text-decoration: none;
  list-style: none;

}
a{
  text-decoration: none;
  color: #948a8a;

}
.mouse-hover:hover { 
  text-decoration: underline;

}
.mouse-hover { 
  color: #235a2a;

}
.button-style{
  background: #FF6F91;
  color: #fff;
  border: 2px solid #FF6F91;
  padding: 20px 30px 20px 30px;
  font-size: 16px;
  border-radius: 50px;
  

}
.button-style:hover{
  opacity: .7;
}
.navbackground{
  background: #FFC75F;

}
.container1{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}
.container1 div{
  border: 1px #000 solid;
  padding: 16px;
}
.box1{
  flex: 3;
  order: 2;

}
.box2{
  flex: 1;
  order: 1;


}
.box3{
  flex: 1;
  order: 1;
}
.grid {
  display: grid;
 
  grid-template-columns: repeat(auto-fit, minmax(280px, 0fr));

  grid-auto-rows: 400px;
  grid-gap: 25px;
}

.grid-items {
  background-color: #D65DB1;

  padding: 20px;
  font-size: 14px;
}
.vertical-nav {
  display: block;
  width: 20%;
  height: 100%;
  position: fixed;
  overflow: auto;
  float: left;
  padding: 1%;
  background: #F9F871;
  
}
.vertical-body {
  margin-left: 20%;
  width: 80%;
  float: right;
  padding-left: 40px;


}
.vertical-nav ul {
  -webkit-padding-start: 0px;
  list-style-type: none;
  
}
/* @media only screen and (max-width: 520px) {
  .vertical-nav {
    width: 100%;
    float: none;
    display: none;
    position: fixed
    
  }

} */

.nav-side{
    font-size: 15px;
    padding-top: 1em;

}
.link-image img{
  height: auto; 
  width: auto; 
  max-width: 40%; 
  border: 1px solid #8c9099;

  transition: .3s ease-in-out;
 

}
.link-image img:hover{
  transform: scale(.8);
  
}


input{
  width: 50%;
  border: 0;
  padding: 15px;
  border: 1px solid #8c9099;

  outline: none;
}
.screenshot{
  height: auto;
  width: auto;
  max-width: 90%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
}
#IAT334-video{
  position: relative;
  padding-bottom: 45%; 
  /* height: 0; */
}
#IAT334-video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 80%;
  height: 100%;
}
/* .img-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
} */
/* @media only screen and (max-width: 1370px) {
  .screenshot {
    width: 400px;

  }
} */

