/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    background: transparent;
    border: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;

}

body,
html {
    height: 100%;
    width: 100%;
}

head {
    display: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;

}


/* nav */
.navigation-component {
    display: grid
}

.nav {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-self:center; */
    /* padding: 2rem; */
    justify-self: center;
    padding-top: 1rem;
}



@media only screen and (min-width:780px) {
    /* .nav {
        justify-self: center
    } */

    /* .nav__item {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    } */
}





a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
}

.wave {
    position: absolute;
    right: 0;
    top: 0;
    width: 200vw;
    z-index: -1;
}

/* @media only screen and (min-width: 990px) {
    .wave {
        width: 100vw;
    }

} */

@media only screen and (min-width: 780px) {
    .wave {
        top: -5vh;
        width: 125vw;
    }
}

@media only screen and (min-width:1200px) {
    .wave {
        top: -20vh
    }
}

/* @media only screen and (min-width:1800px) {
    .wave {
        top: -20vh
    }
} */

.name {

    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.6018rem;
    line-height: 2.25rem;
    margin: 30px 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    
}

.card {

    display: grid;
    box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 1px 6px rgba(0,0,0,.15);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 1px 6px rgba(0,0,0,.15);
    justify-content: center;
    justify-self: center;

    /* margin: .55rem; */
    max-width: 700px;
    padding: 3.45rem 1.5rem;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 780px){
    .card{
        max-width: 90%;

    }
    #skills {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    /* .container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

    } */
}


.card_title {
    color: #00b7ff;
    margin-bottom: 1.875rem;
}

.card_text {
    color: #6c80a4;
    letter-spacing: .2px;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;

   

}
    
    /* .skills {
        margin: 0 auto;
        width: 100%;

    } */

    /* .skills {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    } */


    .skills {

        justify-content: space-around;
        padding: 0;

    }
    .container{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

/* .container{
    padding-left: 10px;
    padding-right: 10px;



} */







.header {

    padding-bottom: 2rem;
    padding-top: 3.45rem;
}

.header_title {

    font-size: 1.4238rem;
    line-height: 1.875rem;
    text-align: center;
}

.header_underline {
    border: 0;
    border-top: 3px solid #09f;
    height: 1px;
    margin-top: 4px;
    width: 35px;
}

.subheading {
    color: #19181c;

    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: .75rem;
}

/* @media only screen and (min-width: 992px){
.list{
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(7,1fr);
 }
} */
ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul,
li,
h3 {

    padding: 0;


}



.list {
    display: flex;
    /* grid-row-gap: .15rem; */
    flex-wrap: wrap;

    
}

.list_languages {
    color: #6c80a4;
    flex-basis: 120px;
}

.list_languages:before {
    background-color: #ffea31;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
}

li {
    text-decoration: none;
    list-style: none;

}
.nav_item{
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    color: #fff;
}
.nav_item:hover{
    font-size: 1.1rem;
    text-decoration: underline;
}

.list_database {
    color: #6c80a4;
    flex-basis: 120px;
}

.list_database:before {
    background-color: #16d97e;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
}

.list_media {
    color: #6c80a4;
    flex-basis: 120px;
}

.list_media:before {
    background-color: #eb3ea8;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
}

.gradient {
    display: grid;


}

.gradient:first-of-type {

    background: linear-gradient(rgba(143, 148, 251, .7), #ef93ec);
}

.gradient:nth-of-type(2) {

    background: linear-gradient(#005bea,#00c6fb);
}


.project{
    color: #fff;
    justify-self: center;
    max-width: 500px;
    padding: 3.45rem 1.875rem;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
    width: 100%;

}
.project_img{

    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(86, 18, 142, .1), 0 3px 30px rgba(86, 18, 142, .2);
    margin-bottom: 1.122rem;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}
.project_img:hover{
   
    transform: scale(1.1);
}


.project_title{
    
    font-size: 1.4238rem;
    line-height: 1.875rem;
    margin-bottom: .375rem;
}


@media only screen and (min-width:992px) {
    .project{
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        display: grid;
        grid-gap: 2.622rem;
        grid-template-columns: 1fr 1fr;
        margin: 70px;
        max-width: 1000px
    }
    .footer{
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        justify-self: center;
        width: 1000px;
        border-top: 1px solid hsla(0,0%,43.9%,.144);
        padding: 2.622rem;
        text-align: center;
    }
    .footer_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer{
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
        justify-self: center;
        width: 1000px;
    
    }
    .footer_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

.footer{
    border-top: 1px solid hsla(0,0%,43.9%,.144);
    padding: 2.622rem;
    text-align: center;
    
}
.title{
    color: #19181c;

    font-size: 1.4238rem;

}
.link{
    color: #19181c;
}
.list_item{
    padding: .50rem;
}
.list_item::before {
    margin-right: .75rem;
    color: #00b9ff;
}
.list_item-email:before {
    content: "@";
}
.list_item-github:before {
    content:"\f09b";
    font-family: FontAwesome;
}
.list_item-linkedin:before {
    content:"\f08c";
    font-family: FontAwesome;
}
.link:hover{

    text-decoration: underline;
}