* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* .project_header{
    background-image: url(../img/cocktialheader-1.png);
    height: 65%;
    
    padding: 1em 0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;

    background-size: 928px 522px;
    position: relative;

    height: 50%;
    padding: 1em 0;
    background-attachment: fixed;
    background-position: center;
} */
/* .header-title {
    text-align: center;
    margin: 10rem auto;
    width: 50%;
    animation: fadein 1s;
} */
.project-header-background {
    background: rgb(248, 47, 47);
    height: 50%;
    padding: 1em 0;
}

.header-title {
    text-align: center;
    margin: 10rem auto;
    width: 25%;
    
}

.header-title h1 {
    color: rgb(255, 101, 101);
    
    line-height: 115%;
    margin-bottom: 0.7em;
    font-size: 3rem;
   
}

h1,
h2,
h3 {
    letter-spacing: .05rem;
    font-family: "Lato", "Arial", sans-serif;
    /* font-weight: bold; */

}

img {
    max-width: 100%;


}

.crop {

    max-height: 50%;
    overflow: hidden;
}
.savagepunch-header{
    background-image: url(../img/savagepunchscreenshot.png);
    height: 50%;
    overflow: hidden;

    background-attachment: fixed;
    background-position: bottom center;
}


.dash {
    /* border: 0;
    border-top: 3px solid #09f;
    height: 1px;
    margin-top: 4px;
    width: 35px; */
    height: 4px;
    width: 35px;
    display: block;
    background-color: #09f;
}

/* .dash {
    height: 4px;
    width: 50px;
    display: block;
    margin: 30px 0;
} */
.container-70 {
    width: 60%;
    margin: 5rem auto;
    text-align: left;
    padding: 0 1rem 1rem 1rem;
}

.element-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.element-block {
    flex: 0 0 35%;
    padding-right: 2rem;
    padding-bottom: 2rem;


}
.video-title {
    width: 60%;
    margin: 0rem auto;
    text-align: left;
    padding: 0 1rem 1rem 1rem;
}

.project-video {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1rem;

}

.iframe-container {
    position: relative;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;

}

.main-content>section {
    padding-top: 2rem;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 5rem auto; */
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.text-cell {
    max-width: 100%;
    font-size: 1.1rem;

}



.flex-1third {
    flex-basis: 33.33333333%;

}

.flex-2third {
    flex-basis: 66.66666666%;
}

@media(max-width: 1200px) {

    .flex-1third {
        flex-basis: 50%;
    }

    .flex-2third {
        flex-basis: 50%;
    }


}

@media(max-width: 768px) {
    .container-70 {
        width: 95%;
        padding: 0 4rem;
    }


    .main-content section {

        width: 95%;
        padding: 0 3rem;
    }

    .flex-1third {
        flex-basis: 100%;
    }

    .flex-2third {
        flex-basis: 100%;
    }

    .element-block {
        flex: 0 0 100%;
    }
    .iframe-container{
        width: 80%;
    }

}

.side-padding {
    padding: 0 1rem 1rem 1rem;
}

figure {
    width: 100%;
    height: 20rem;
    margin: 0;
    overflow: hidden;
    position: relative;

    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 6px rgba(0, 0, 0, .15);
}

figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;

}

figure>figcaption {
    position: absolute;
    bottom: 0;
    padding: .5rem 2rem;
    background-color: #191919A0;
    width: 100%;
    color: #ffff;
}

h2 {
    margin-top: 0;
}

.style-grid {
    width: 70%;
    margin: 1rem auto;
    text-align: left;

}

.style-3whole {

    display: flex;
    flex-wrap: wrap;

}

.style-panel {
    padding-right: 1rem;

}

.style-border {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 6px rgba(0, 0, 0, .15);
}



.color-preview {
    display: block;
    height: 3rem;
    width: 100%;


}

.cornflowerblue-preview {
    background-color: #4aa8e6;
    outline: 1px solid #4aa8e6;


}

.lightsteelblue-preview {
    background-color: #b6b0fa;
    outline: 1px solid #b6b0fa;


}

.indianred-preview {
    background-color: #f14f67;
    outline: 1px solid #f14f67;
}

ul {
    line-height: 200%;
    list-style-type: none;
    padding-left: 1rem;
}

.project-grid {


    justify-self: center;
    max-width: 500px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    width: 100%;
}



@media only screen and (min-width: 992px) {
    .project-grid {
        align-items: center;
        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: 1fr 1fr;

        max-width: 1000px;
    }
}

.project-1half {
    color: #FFF;
    background-color: #bbb;
    margin: 1em 0;
    padding: 0.8em;
}

.list {
    display: flex;

    flex-wrap: wrap;
}

.list-items {

    color: #FFF;
    background-color: #bbb;
    flex-basis: 120px;
}

.list-items:before {
    background-color: #ffea31;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
}

td,
th {
    border: 1px solid #2e2d2db7;
    text-align: left;
    padding: 8px;
}

#Lato {
    font-family: "Lato", sans-serif;

}

#OpenSans {
    font-family: "Open Sans", sans-serif;

}

#Roberto {
    font-family: "Roberto", sans-serif;

}

.style-main-content> section {

    padding-top: 2rem;
 
    display: flex;
    flex-wrap: wrap;
    

}